<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dwh.mysql.MySQLSqlMapper">
    <select id="queryWithSql" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        select * from dim_actor limit 1000
    </select>

    <select id="test" resultType="String">
        select nickName from BK_UserInfo
    </select>
</mapper>